on boot
    setprop usb.vendor 0bb4
    setprop usb.product.adb 0c02
    setprop usb.product.mtpadb 0f87
    start choice_fn

service choice_fn /sbin/choice_fn
    disabled

service power_test /sbin/power_test
    disabled

service offmode_charging /sbin/offmode_charging
    disabled

service detect_key /sbin/detect_key
    disabled
